.container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: 60px;
  background: rgb(48, 146, 145);
  background: linear-gradient(
    343deg,
    rgba(48, 146, 145, 1) 0%,
    rgba(0, 209, 178, 1) 100%
  );
}

.brand {
  font-size: 1.5rem;
  font-weight: 700;
  font-size: 30px;
  //   letter-spacing: 1px;
}

.img {
  border-radius: 50%;
  background-color: #fff;
}

.imgContainer {
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
