.container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.header {
  height: 52px;
}

.content {
  height: 100%;
}

.navbar {
  border: 1px solid blue;
  height: 52px;
}
