.background{
    height: 80px;
    background-color: lightcoral;
    overflow: visible;
    position: relative;
    // margin-bottom: 3rem;
}

.pfp{
    border: 1px solid white;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    box-sizing: content-box;  
    bottom: 0;
    left: 10px;
    transform: translateY(50%);
    
}

.username{
    color: rgb(122, 122, 122);
    font-size: 1.4rem;
    
}

.followersContainer{
    display: flex;
    justify-content: space-around;
}

.infoGrid{
    display: grid;
    margin: 0 2rem 1rem;
    grid-template-columns: 1fr 1fr;
}

.flex{
    align-items: center;
    display: flex;
    margin-left: 5rem;
    margin-bottom: .5rem;
}

.btn{
    border: 1px solid currentColor !important;
    border-radius: 8px !important;
    margin-right: 3rem;
    margin-left: auto;
    
}